section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-description{
    display: flex;
    align-items: center;
}
.left-description h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    /* or 96% */

    color: #20253A;
}

.left-description p{
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* or 200% */


    color: #BEBEBE;
}
