<h2 mat-dialog-title>Inserir novo equipamento</h2>
<mat-dialog-content>
    <form [formGroup]="insertForm">
        <mat-form-field appearance="fill">
            <mat-label>Patrimônio</mat-label>
            <input matInput [formControl]="insertForm.controls['patrimony']">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Marca</mat-label>
            <mat-select [formControl]="insertForm.controls['brand']">
                <mat-option *ngFor="let brandID of brands$ | async" [value]="brandID">{{brandID|brand}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [formControl]="insertForm.controls['category']">
                <mat-option *ngFor="let categoryID of categories$ | async "[value]="categoryID">{{categoryID|category}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Modelo</mat-label>
            <mat-select [formControl]="insertForm.controls['model']">
                <mat-option *ngFor="let modelID of models$ | async "[value]="modelID">{{modelID|model}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Unidade Administrativa</mat-label>
            <mat-select [formControl]="insertForm.controls['ua']">
                <mat-option *ngFor="let uaID of uas$ | async "[value]="uaID">{{uaID|ua}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Andar</mat-label>
            <mat-select [formControl]="insertForm.controls['floor']">
                <mat-option *ngFor="let floorID of floors$ | async "[value]="floorID">{{floorID|floor}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Início da Garantia</mat-label>
            <input matInput [matDatepicker]="warrantyStartPicker" [formControl]="insertForm.controls['warranty_start']">
            <mat-datepicker-toggle matSuffix [for]="warrantyStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #warrantyStartPicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Fim da Garantia</mat-label>
            <input matInput [matDatepicker]="warrantyEndPicker" [formControl]="insertForm.controls['warranty_end']">
            <mat-datepicker-toggle matSuffix [for]="warrantyEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #warrantyEndPicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Data de Aquisição</mat-label>
            <input matInput [matDatepicker]="acquisitionPicker" [formControl]="insertForm.controls['acquisition_date']">
            <mat-datepicker-toggle matSuffix [for]="acquisitionPicker"></mat-datepicker-toggle>
            <mat-datepicker #acquisitionPicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Valor de Aquisição</mat-label>
            <input matInput [formControl]="insertForm.controls['acquisition_value']">
        </mat-form-field>
        <br>
        <mat-checkbox [formControl]="insertForm.controls['policy']">Política</mat-checkbox>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="insertForm.controls['status']">
                <mat-option *ngFor="let s of status" [value]="s">{{ s }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Status do Zenworks</mat-label>
            <mat-select [formControl]="insertForm.controls['status_zenworks']">
                <mat-option *ngFor="let option of servers_options" [value]="option.value">{{option.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Status do TREND</mat-label>
            <mat-select [formControl]="insertForm.controls['status_trend']">
                <mat-option *ngFor="let option of servers_options" [value]="option.value">{{option.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Status do WSUS</mat-label>
            <mat-select [formControl]="insertForm.controls['status_wsus']">
                <mat-option *ngFor="let option of servers_options" [value]="option.value">{{option.title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="add(insertForm.value)" cdkFocusInitial>Adicionar</button>
</mat-dialog-actions>