<form [formGroup]="filtersForm"
      (ngSubmit)="onSubmit(filtersForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select [formControl]="filtersForm.controls['brands']" multiple>
            <mat-option value="all">Todas</mat-option>
            <mat-option *ngFor="let brandID of brands$ | async" [value]="brandID">{{brandID | brand}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [formControl]="filtersForm.controls['categories']" multiple>
            <mat-option *ngFor="let categoryID of categories$ | async" [value]="categoryID">{{categoryID | category}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <mat-select [formControl]="filtersForm.controls['models']" multiple>
            <mat-option *ngFor="let modelID of models$ | async" [value]="modelID">{{modelID | model}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>UA</mat-label>
        <mat-select [formControl]="filtersForm.controls['uas']" multiple>
            <mat-option *ngFor="let uaID of uas$ | async" [value]="uaID">{{uaID | ua}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Andar</mat-label>
        <mat-select [formControl]="filtersForm.controls['floors']" multiple>
            <mat-option *ngFor="let floorID of floors$ | async" [value]="floorID">{{floorID | floor}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Garantia</mat-label>
        <mat-date-range-input [rangePicker]="pickerWarranty">
            <input [formControl]="filtersForm.controls['warranty_start']" matStartDate placeholder="Data inicial">
            <input [formControl]="filtersForm.controls['warranty_end']" matEndDate placeholder="Data final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerWarranty"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerWarranty></mat-date-range-picker>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Data de aquisição</mat-label>
        <mat-date-range-input [rangePicker]="pickerAcquisition">
            <input [formControl]="filtersForm.controls['min_date']" matStartDate placeholder="Data inicial">
            <input [formControl]="filtersForm.controls['max_date']" matEndDate placeholder="Data final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerAcquisition"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerAcquisition></mat-date-range-picker>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Valor mínimo</mat-label>
        <input matInput [formControl]="filtersForm.controls['min_value']" type="number">
        <span matPrefix>R$&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Valor máximo</mat-label>
        <input matInput [formControl]="filtersForm.controls['max_value']" type="number">
        <span matPrefix>R$&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Politica</mat-label>
        <mat-select [formControl]="filtersForm.controls['policies']" multiple>
            <mat-option *ngFor="let policy of policies" [value]="policy.value">{{ policy.title }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [formControl]="filtersForm.controls['status']" multiple>
            <mat-option *ngFor="let s of status" [value]="s">{{ s }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Status WSUS</mat-label>
        <mat-select [formControl]="filtersForm.controls['status_wsus']" multiple>
            <mat-option *ngFor="let option of servers_options" [value]="option.value">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Status TREND</mat-label>
        <mat-select [formControl]="filtersForm.controls['status_trend']" multiple>
            <mat-option *ngFor="let option of servers_options" [value]="option.value">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Status ZENWORKS</mat-label>
        <mat-select [formControl]="filtersForm.controls['status_zenworks']" multiple>
            <mat-option *ngFor="let option of servers_options" [value]="option.value">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="mini-button">
        <button mat-flat-button type="submit">
        Filtrar <mat-icon>filter_alt</mat-icon>
        </button>
        <button mat-flat-button (click)="resetFilters()">
        Reset <mat-icon>restore</mat-icon>
        </button>
    </div>
</form>