
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      
      <!--Coluna Patrimony-->
      <ng-container matColumnDef="patrimony" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Patrimônio</th>
        <td mat-cell *matCellDef="let element">{{ element.patrimony }}</td>
      </ng-container>

      <!--Coluna Brand-->
      <ng-container matColumnDef="brand" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.brand | brand}}</td>
      </ng-container>
      <!--Coluna Category-->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.category | category}}</td>
      </ng-container>
      <!--Coluna Model-->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.model | model}}</td>
      </ng-container>
      <!--Coluna Ua-->
      <ng-container matColumnDef="ua">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidade Administrativa</th>
        <td mat-cell *matCellDef="let element">{{ element.ua | ua}}</td>
      </ng-container>
      <!--Coluna Floor-->
      <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Andar</th>
        <td mat-cell *matCellDef="let element">{{ element.floor | floor}}</td>
      </ng-container>
      <!--Coluna Status-->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <!--Coluna Warranty-->
      <ng-container matColumnDef="warranty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Garantia</th>
        <td mat-cell *matCellDef="let element">{{ element.warranty_start | date:'shortDate' }} - {{ element.warranty_end | date:'shortDate' }} </td>
      </ng-container>
      <!--Coluna Acquisition Date-->
      <ng-container matColumnDef="acquisition_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Aquisição</th>
        <td mat-cell *matCellDef="let element">{{ element.acquision_date | date:'shortDate' }}</td>
      </ng-container>
      <!--Coluna Acquisition Value-->
      <ng-container matColumnDef="acquisition_value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor de Aquisição</th>
        <td mat-cell *matCellDef="let element">{{ element.acquisition_value | currency:'BRL'}}</td>
      </ng-container>

      <!--Coluna Policy-->
      <ng-container matColumnDef="policy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Política</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.policy === true"  class="green" aria-hidden="false" aria-label="Dentro da Política">verified</mat-icon>
          <mat-icon *ngIf="element.policy === false" class="grey" aria-hidden="false" aria-label="Fora da Política">remove_circle</mat-icon>
        </td>
      </ng-container>

      <!--Coluna ZENWORKS-->
      <ng-container matColumnDef="zenworks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ZENWORKS</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.status_zenworks === true"  class="green" aria-hidden="false" aria-label="Incluído no ZENWORKS">verified</mat-icon>
          <mat-icon *ngIf="element.status_zenworks === false" class="red" aria-hidden="false" aria-label="Removido do ZENWORKS">error</mat-icon>
          <mat-icon *ngIf="(element.status_zenworks !== true) && (element.status_zenworks !== false)" class="grey" aria-hidden="false" aria-label="Fora do ZENWORKS">remove_circle</mat-icon>
        </td>
      </ng-container>

      <!--Coluna WSUS-->
      <ng-container matColumnDef="wsus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>WSUS</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.status_wsus === true"  class="green" aria-hidden="false" aria-label="Incluído no WSUS">verified</mat-icon>
          <mat-icon *ngIf="element.status_wsus === false" class="red" aria-hidden="false" aria-label="Removido do WSUS">error</mat-icon>
          <mat-icon *ngIf="(element.status_wsus !== true) && (element.status_wsus !== false)" class="grey" aria-hidden="false" aria-label="Fora do WSUS">remove_circle</mat-icon>
          </td>
      </ng-container>

      <!--Coluna TREND-->
      <ng-container matColumnDef="trend">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TREND</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.status_trend === true"  class="green" aria-hidden="false" aria-label="Incluído no TREND">verified</mat-icon>
          <mat-icon *ngIf="element.status_trend === false" class="red" aria-hidden="false" aria-label="Removido do TREND">error</mat-icon>
          <mat-icon *ngIf="(element.status_trend !== true) && (element.status_trend !== false)" class="grey" aria-hidden="false" aria-label="Fora do TREND">remove_circle</mat-icon>
        </td>
      </ng-container>

      <!-- Star Column 
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>-->
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-title"> {{element.patrimony}} </div>
            <div class="element-description">
              <br>
              {{element.category | category}}
              <br>
              <span class="bolder">Marca:</span> {{ element.brand | brand}}  <span class="bolder">Modelo:</span> {{ element.model | model }}
              <br>
              <span class="bolder">Localização:</span> {{ element.ua | ua }} - {{ element.floor | floor }}
              <br>
              <span class="bolder">Status:</span> {{ element.status }}
              <br>
            </div>
            <div class="mini-button">
              <button mat-flat-button (click)="editEquipament(element)">
              Editar
              <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button (click)="removeEquipament(element)">
              Remover
              <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      
      <!--Template das linhas-->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]= "expandedElement === myRowData"
        (click)="selection.toggle(myRowData); expandedElement = expandedElement === myRowData ? null : myRowData">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum dado para a pesquisa "{{ filter }}"</td>
      </tr>
    </table>
    <!--Paginador-->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
