<header>
  <div class="left">
      <button class="menu-icon" mat-icon-button  (click)="sidenav.toggle()" title="Menu de navegação">
          <img src="assets/img/menu/menu-icon@1px.svg" 
                alt="Menu de Navegação">
      </button>
      <a routerlink="/home" routerLinkActive="active" title="Página Inicial" class="logo">
          <img src="assets/img/logo/logo-nav@1px.svg"
                alt="Logo do sistema. Está escrito Inventory.">
      </a>
  </div>
  <div class="center">
      <div class="search">
              
          <button (click)="doSearch(search.value)" type="submit">
            <img src="assets/img/search/search-icon@1px.svg"
                  alt="Lupa. Botão de pesquisa"
                  title="Pesquisa">
          </button>
          <input matInput type="search"
              id="search"
              name="search"
              #search
              placeholder="Pesquise o patrimônio"> 
      </div>                    
  </div>
  <div class="right">
      <div class="user-content">
          <a href="#" title="Usuário logado">
              <img class="user-avatar"
                  src="assets/img/avatar/user.jpeg"
                  alt="Usuário logado"
                  width="32px"
                  height="32px">
              <span *ngIf="user" class="user-name">{{ user.first_name }}</span>
          </a>
      </div>
  </div>
</header>
<!--
<mat-toolbar class="header" >
  <mat-toolbar-row>
    <div class="toolbar-home-container">
      <button class="menu-icon" mat-icon-button  (click)="sidenav.toggle()" title="Menu de navegação">
        <mat-icon svgIcon="menu-icon"></mat-icon>
      </button>

      <a  href="/">
        <img src="assets/img/logo/logo-nav@1x.png" title="Home" alt="Home">
      </a>
    </div>
  
    <div class="toolbar-search-container">
      <app-search-box class="search-container" #searchBox (onSearch)="doSearch($event)" (onFocus)="doSearch($event)"></app-search-box>
    </div>

    <div class="toolbar-user-container">
        <img mat-card-avatar src="./assets/img/avatar/user.jpeg" alt="User Avatar"> <!--<div mat-card-avatar class="header-avatar-image"></div>
        <mat-card-subtitle>Luis Carlos</mat-card-subtitle>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
-->
<!---->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav"
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false"
      [fixedInViewport]="false">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
    <main>
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>
<footer>
    <div class="left">
        <p>Criado por <a href="https://github.com/luiscarlossf" title="Perfil do github do autor do sistema.">Luis Carlos</a></p>
    </div>
    <div class="right">
        <p>Última atualização {{ lastUpdate | date:'short'}}</p>
    </div>
</footer>
<!--
<mat-toolbar class="footer">Footer</mat-toolbar>
-->